* {
  margin: 0;
  padding: 0;
  background-color: #000;
  backgroud-color: #ffeddb;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  backgroud-color: #ffeddb;
}

.header img {
  width: 100%;
  height: auto;
}

.presentation {
  width: 100%;
  height: auto;
  background-color: #ffeddb;
}
.presentation p {
  background-color: #ffeddb;
  color: #8d7448;
  font-size: 30px;
  margin: 0px 10px;
  font-family: "Abril Fatface", cursive;
  text-align: justify;
}
